.blogPage {
	background-color: var(--bg1);
}

.blogPage .categoryArea {
	display: flex;
	flex-direction: column;
}

.blogPage .categoryList {
	display: flex;
	align-items: center;
	gap: 10px;
	flex-flow: row wrap;
	margin-top: 5px;
}

.blogPage .categoryItem {
	display: flex;
	align-items: center;
	height: 34px;
	outline: 1px solid var(--c000-a1);
	border-radius: 16px;
	background-color: var(--fff);
}

.blogPage .categoryTitle {
	font-size: 1.25rem;
	margin-bottom: 10px;
}

.blogPage .categoryLink {
	padding: 0 10px;
	display: flex;
	align-items: center;
	height: 100%;
	font-size: 1rem;
	font-weight: 500;
	color: var(--c333);
}

.blogPage .categoryFilterSection .categoryArea {
	margin-bottom: 20px;
}

.blogPage .categorySection .categoryArea {
	margin-bottom: 40px;
	text-indent: 2.5px;
}

.blogPage .categoryCount {
	font-size: 1rem;
	color: var(--c666);
}



.blogPage
	:where(article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section) {
	display: block;
}

.blogPage img {
	user-select: none;
	pointer-events: none;
}
