.articleBottom {
	max-width: var(--mxw-mobile);
	margin: 0 auto;
	padding: 20px 0;
	border-top: 1px solid var(--ddd);
}

.articleContainer {
	position: relative;
	width: 100%;
	max-width: var(--mxw-mobile);
	padding-bottom: 20px;
	margin: calc(125px + var(--header-height) + var(--hero-height)) auto 0 auto;
	word-break: keep-all;
}

.articleCategory {
	font-size: 1rem;
	color: var(--fff);
}

.articleCategory + .articleTitle {
	margin-top: 5px;
}

.articleTitle {
	font-size: 2.5rem;
	color: var(--fff);
	margin: 0;
}

.articleTitle + .articleDate {
	margin-top: 20px;
}

.articleDate {
	color: rgba(255, 255, 255, 0.85);
	font-size: 1.125rem;
}

.articleUpdated {
	font-style: italic;
	color: var(--c333);
}

.shareArea button + button {
	margin-left: 5px;
}

.shareArea + p {
	margin-top: 0;
}

.heroImgInner {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.heroImgInner .heroImgBackground {
	z-index: -1;
	padding-top: var(--post-height);
}

.heroImgBackground {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
}

#toc a.active {
	color: var(--primary1);
	font-weight: 600;
}

#toc.active .tocInner {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
}

.tocInner {
	position: absolute;
	left: 100%;
	margin-left: 40px;
	overflow-y: auto;
	min-width: var(--toc-width);
	max-width: var(--toc-width);
	max-height: 700px;
	border-left: 1px solid var(--c000-a1);
	padding: 8px 16px;
}

.tocInner::-webkit-scrollbar {
	width: 6px;
}

.tocInner::-webkit-scrollbar-thumb {
	background-color: var(--c000-a1);
}

.tocDepth1 {
	font-size: 1rem;
}

.tocDepth2 {
	padding-left: 0;
}

.tocDepth3 {
	padding-left: 12px;
}

.tocDepth4 {
	padding-left: 24px;
}

.tocDepth5 {
	padding-left: 36px;
}

.tocDepth6 {
	padding-left: 48px;
}

.ref-root ul li {
	line-height: normal;
	margin-bottom: 0;
}

.ref-root li + li {
	margin-top: 8px;
}

.btn-md {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 8px;
	font-weight: 500;
	font-size: 0.9375rem;
	transition: 0.3s ease-in-out;
	height: 40px;
	padding: 0 12px;
	border-radius: 8px;
}

.btn-only-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 12px;
	transition: 0.3s ease-in-out;
	border-radius: 8px;
}

#cr {
	&::before {
		content: '';
		width: 16px;
		height: 16px;
		background: url('/icons/ico-link.svg') no-repeat center;
	}
}

.search-popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	padding: 30px 60px;
	overflow-y: auto;
	background-color: #fff;

	&.active {
		z-index: 10010;
		display: block;
	}
}

.search-popup-inner {
	max-width: 768px;
	margin: 0 auto;
}

.search-popup-header {
	position: relative;
	display: flex !important;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;

	img {
		width: 32px;
		height: 32px;
	}

	svg {
		min-width: 20px;
		min-height: 20px;
	}
}

.search-popup-content {
	display: flex;
	flex-direction: column;
	gap: 42px;
}

.search-popup-list {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.search-popup-input-area {
	display: flex;
	width: 100%;
}

.input {
	flex: 1;
	height: 48px;
	padding: 0 12px;
	color: var(--color-black);
	border: 1px solid var(--color-gray-200);
	border-radius: 8px;
	background-color: var(--color-white);
}

.main-button-area {
	opacity: 0;
	visibility: hidden;
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	position: sticky;
	bottom: 20px;
	transition: var(--transition1);

	&.active {
		opacity: 1;
		visibility: visible;
	}
}

.main-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 9999px;
	background-color: #1e2124;
	color: var(--color-white);
}

.main-button-text {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	font-size: 12px;
	font-family: var(--font-pre-b);
	text-transform: uppercase;
}

.main-button::after {
	content: '';
	width: 11px;
	height: 17px;
	background: url(/icons/ico-scroll-up.svg) no-repeat center;
}

.search-popup-close {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	width: 40px;
	height: 40px;
}

.search-popup-item {
	padding: 16px;
	border: 1px solid var(--color-gray-200);
	border-radius: 8px;
}

.search-popup-link {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.search-popup-title {
	font-size: 18px;
	font-weight: 700;
	color: var(--color-black);
}

.search-popup-description {
	font-size: 14px;
	color: var(--color-gray-500);
}

.search-popup-item-empty {
	font-size: 15px;
	color: var(--color-gray-500);
}
