@import 'tailwindcss';

.btn-gray-1 {
	@apply bg-[#333] text-white hover:bg-black;
}

.btn-gray-2 {
	@apply bg-gray-200 text-gray-800 hover:bg-gray-300;
}

.btn-gray-3 {
	@apply bg-gray-100 text-gray-800 hover:bg-gray-200;
}

.btn-primary-2 {
	@apply bg-[#e52d42] text-white hover:bg-[#c42537];
}

.btn-only-icon {
	@apply hover:bg-gray-200;
}
