@media screen and (max-width: 768px) {
	.postPage .mainInner {
		padding: 0;
	}

	.blogPage .myPostList {
		row-gap: 60px;
	}

	.articleContainer {
		margin: 0 auto;
	}
}

@media screen and (max-width: 500px) {
	.blogPage .myPostList {
		row-gap: 30px;
	}

	.blogPage .myPostTitle {
		font-size: 1.5rem;
	}

	.blogPage .myPostDescription {
		font-size: 0.875rem;
	}

	.blogPage .myPostBottomInner {
		row-gap: 5px;
	}

	.blogPage .myPostAuthor {
		font-size: 0.75rem;
	}

	.blogPage .myPostDate {
		font-size: 0.75rem;
	}

	.blogPage .categorySection .categoryArea {
		margin-bottom: 20px;
	}

	.blogPage .categoryArea {
		row-gap: 5px;
	}

	.blogPage .categoryTitle {
		font-size: 1.125rem;
	}

	.blogPage .categoryLink {
		font-size: 0.875rem;
	}

	#header .headerMenuLink {
		font-size: 0.875rem;
	}

	.articleTitle {
		font-size: 2.25rem;
	}

	.articleAuthor {
		font-size: 0.875rem;
	}

	.articleDate {
		font-size: 1rem;
	}

	.articleContainer {
		margin: 35px auto;
	}


	.postHeader {
		margin: 24px 0;
		padding-bottom: 22px;
	}

	.articleMeta {
		margin-top: 14px;
	}

	.articleContainer .bq + .shareArea {
		margin-top: calc(30px / 2);
		margin-bottom: calc(75px / 2);
	}
}

@media screen and (max-width: 375px) {
	.blogPage .myPostTitle {
		font-size: 1.25rem;
	}

	.resultArea dialog {
		max-width: calc(100vw - 40px);
	}
}
