.postPagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	margin-top: 28px;
	user-select: none;
}

.paginationList {
	display: flex;
	align-items: center;
	gap: 8px;
}

.paginationButton {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 32px;
	height: 32px;
	padding: 0 8px;
	border-radius: 8px;
	font-size: 0.9375rem;
	font-weight: 500;
	transition: var(--transition1);

	background-color: #fff;
	border: 1px solid #000;
	color: #333;
}

.paginationButton:disabled,
.paginationButton.is-disabled {
	opacity: 0.15;
	cursor: not-allowed;
	pointer-events: none;
}

.paginationButton.is-active {
	background-color: #fff;
	border-color: #000;
	color: #333;
}
