.postPagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	margin-top: 28px;
}

.paginationList {
	display: flex;
	align-items: center;
	gap: 8px;
}

.paginationButton {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 32px;
	height: 32px;
	padding: 0 8px;
	border: 1px solid var(--c000-a1);
	border-radius: 8px;
	background-color: var(--fff);
	font-size: 0.9375rem;
	font-weight: 500;
	color: var(--c333);
	transition: var(--transition1);
}

.paginationButton:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.paginationButton.is-disabled {
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;
}

.paginationButton.is-active {
	background-color: #60739f;
	border-color: #60739f;
	color: var(--fff);
}
