@charset "UTF-8";
html,
body,
div,
span,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
button,
abbr,
address,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
section,
summary {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
}

ol,
ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a[href^='tel'] {
	color: inherit;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	display: inline-block;
	border: none;
	background-color: transparent;
	cursor: pointer;
	/* ios, 사파리 기본 스타일 제거 */
	color: inherit;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

select {
	appearance: none;
}

input,
button,
a,
select,
option {
	font-family: inherit;
	font-size: inherit;
}

input[type='checkbox'],
input[type='radio'] {
	appearance: none;
	position: absolute;
	vertical-align: middle;
}

input[type='radio'] {
	appearance: auto;
}

caption,
hr {
	overflow: hidden;
	position: relative;
	left: 0;
	top: 0;
	width: 1px;
	height: 1px;
	background: 0 0;
	font-size: 0;
	color: transparent;
	line-height: 0;
	text-indent: 100%;
	clip: rect(0, 0, 0, 0);
}

pre {
	word-break: break-all;
}

li {
	list-style: none;
}

figure {
	margin: 0;
}

/* common */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	scrollbar-width: thin;
}

body,
html {
	font-family: 'Pretendard Variable';
}

img {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-select: none;
	border: none;
	display: block;
	width: 100%;
	object-fit: cover;
}

::selection {
	color: var(--fff);
	background-color: var(--primary1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

button,
summary {
	cursor: pointer !important;
}

*:focus-visible {
	outline: 2px solid var(--primary1);
}
