---
import PostShare from './PostShare.astro';
---

<div class="articleBottom">
	<PostShare />
	<div class="giscus !min-h-[372px]"></div>
</div>

<script
	src="https://giscus.app/client.js"
	data-repo="Plush777/if-tech-blog"
	data-repo-id="R_kgDORUwTJg"
	data-category="Q&A"
	data-category-id="DIC_kwDORUwTJs4C3FPS"
	data-mapping="pathname"
	data-strict="0"
	data-reactions-enabled="1"
	data-emit-metadata="0"
	data-input-position="bottom"
	data-theme="light"
	data-lang="ko"
	crossorigin="anonymous"
	async></script>
