---
import MobileMenu from '@/components/icons/MobileMenu.astro';
import MobileMenuClose from '@/components/icons/MobileMenuClose.astro';
---

<button type="button" class="btn-only-icon h-10 text-gray-800 btnMobileMenu">
	<MobileMenu className="size-6 " />
	<MobileMenuClose className="size-6" />
	<span class="sr-only">모바일 메뉴</span>
</button>
