---
import Search from './icons/Search.astro';
---

<button type="button" class="btn-only-icon h-10 text-gray-800 btn-search">
	<Search width={20} height={20} />
	<span class="sr-only">아티클검색</span>
</button>
