---
import LogoWrapper from './LogoWrapper.astro';
import HamburgerMenu from './HamburgerMenu.astro';
import HeaderSearch from '@/components/HeaderSearch.astro';
import HeaderMenus from '@/components/HeaderMenus.astro';
---

<header id="header" class="top-0">
	<nav class="headerMenuArea">
		<div
			class="mr-auto max-md:relative max-md:flex max-md:items-center max-md:w-full max-md:min-h-[60px]"
		>
			<h1 class="flex items-center h-full">
				<LogoWrapper />
			</h1>

			<div class="hidden max-md:flex max-md:flex-1 max-md:justify-end">
				<HeaderSearch />
				<HamburgerMenu />
			</div>
		</div>

		<HeaderMenus />

		<div class="max-md:hidden">
			<HeaderSearch />
		</div>
	</nav>
</header>

<script is:inline>
	const btnMobileMenu = document.querySelector('.btnMobileMenu');

	btnMobileMenu.addEventListener('click', () => {
		const header = document.querySelector('#header');
		const svgMobileMenu = document.getElementById('svgMobileMenu');
		const svgMobileMenuClose = document.getElementById('svgMobileMenuClose');

		header.classList.toggle('active');

		if (header.classList.contains('active')) {
			svgMobileMenu.style.display = 'none';
			svgMobileMenuClose.style.display = 'block';
		} else {
			svgMobileMenu.style.display = 'block';
			svgMobileMenuClose.style.display = 'none';
		}
	});
</script>
