<div
	class="absolute top-0 left-0 w-full mt-[var(--header-height)] h-[var(--hero-height)] before:content-[''] before:z-0 before:absolute before:top-0 before:left-0 before:size-full before:bg-black/20"
>
	<div class="heroImgInner">
		<slot />

		<div class="relative size-full">
			<div class="flex flex-col justify-center text-center size-full">
				<slot name="category" />
				<slot name="title" />
				<slot name="desc" />
				<slot name="author" />
				<slot name="date" />
			</div>
		</div>
	</div>
</div>
