---
import Logo from './Logo.astro';

const { type = 'header' } = Astro.props;

const s =
	'flex items-center h-full gap-x-2 text-2xl font-normal tracking-[0.5px] select-none max-md:text-[1.375rem]';
---

{
	type === 'header' ? (
		<a href="/" class={s}>
			<Logo />
		</a>
	) : (
		<div class={s}>
			<Logo />
		</div>
	)
}
