---
const { name } = Astro.props;
---

<div class="heroImgBackground bg-[#FF5D01]">
	<span class="sr-only">해당 글은 썸네일이 없습니다.</span>
	{
		name === 'true' && (
			<span class="text-[3.25rem] tracking-[2.5px] font-bold text-white max-md:text-[2.75rem] max-[500px]:text-[2.125rem] max-[375px]:text-[1.625rem]">
				Plush
			</span>
		)
	}
</div>
