---
const { title } = Astro.props;
---

<blockquote class="bq">
    <p>
        <strong class="bqStrong">주의:</strong>
        해당 글은 {title} 에 대해 배운 내용을 작성자의 생각대로 정리한 글입니다.
        혹여나 틀린 내용이 있을 수 있으니 참고용으로만 봐주시면 감사하겠습니다.
        포스팅에 쓰인 자료들은 하단 <a href="#reference" id="ref" class="bqLink">Reference</a> 에 항상 표기되어 있으니 참고해주세요 :)
    </p>
</blockquote>

<script is:inline>
    const reference = document.getElementById('ref');

    reference.addEventListener('click', (e) => {
        e.preventDefault();
        const referenceSection = document.getElementById('reference');

        if (!referenceSection) {
            alert('이 글에는 참고자료가 없습니다.');
            return;
        }

        referenceSection.scrollIntoView({ behavior: 'smooth', block: 'center' });
    });
</script>