<main class="min-h-[calc(100vh_-_145px)] p-[var(--side-padding)]" id="main">
	<div
		class="mainInner max-w-[var(--mxw-pc)] w-full m-[0_auto] p-[130px_0_60px_0] max-md:p-[90px_0]"
	>
		<slot />
	</div>
</main>
