---
import TopButton from '@/components/TopButton.astro';
import BaseHead from '@/components/BaseHead.astro';
import Wrapper from '@/layouts/Wrapper.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import PathnameScript from '@/components/PathnameScript.astro';
import { SITE } from '@/consts';
import SearchPopup from '@/components/SearchPopup.astro';

const { title, description } = Astro.props;
const conditionalTitle = title ? `${title} | ${SITE.title}` : SITE.title;

const baseHeadProps = {
	title: conditionalTitle,
	description
};
---

<html lang="ko">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-SWM7SP1BND"></script>
		<script>
			//@ts-nocheck
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', 'G-SWM7SP1BND');
		</script>

		<BaseHead {...baseHeadProps} />
		<meta name="google-site-verification" content="GPYk6PpfcgAfH_xVermIhvSiltn-RMAzOC9Oap7TAWY" />
		<meta name="naver-site-verification" content="2fecbd20eb5715d37e1a987f6ab474ca6ab9e657" />
	</head>
	<body>
		<noscript>
			<a href="https://support.google.com/adsense/answer/12654?hl=ko" target="_blank"
				>자바스크립트가 활성화 되어있지 않은 상태입니다.</a
			>
		</noscript>
		<PathnameScript />

		<Wrapper>
			<Header />
			<slot />
			<TopButton />
			<Footer />
		</Wrapper>

		<SearchPopup />
	</body>
</html>
